<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top color-nav">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">
           <li class="nav-item">
             <a class="nav-link text-nav font-caviar-bold" href="/libro">Libro<span class="sr-only">(current)</span></a>
           </li>
           <li class="nav-item text-nav">
             <a class="nav-link font-caviar-bold" href="/prestamo">Prestamo</a>
           </li>
       </div>
     </nav>
</header>

<router-outlet></router-outlet>
