<div>
  Nombre:
  <input type="text" #nombre>
</div>
<br>
<div>
  Area:
  <input type="text" #area>
</div>
<br>
<div>
  Puesto:
  <select name="" #puesto>
    <option value="PTC">PTC</option>
    <option value="PA">PA</option>
  </select>
</div>
<br>
<div>
  <input type="button" name="" value="Enviar" (click)="Enviar(nombre,area,puesto)">
</div>
